Repository chhezue/Seller-Re-NestJS, pull requests merged in 2025-08, with the labels that each got.

#3 기능. brute-force 방지. 비밀번호 5회 이상시 계정잠김.
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/login-failed.dto.ts
  backend/src/common/common.module.ts
  backend/src/common/entity/login-attempt-log.entity.ts
  backend/src/logs/logs.module.ts
  backend/src/logs/logs.service.ts
  backend/src/users/const/status.const.ts
  backend/src/users/entity/users.entity.ts
  backend/src/users/users.service.ts
Labels: enhancement, refactor, auth, feature, security

#4 기능. 토큰 갱신
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
Labels: enhancement, auth, feature, security, jwt-token

#6 수정. 토큰 발급시 username 추가
  backend/src/auth/auth.service.ts
  package-lock.json
Labels: refactor, auth, jwt-token

#7 수정. 가드 기반의 선언적 인증 시스템 리팩토링
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/decorator/token.decorator.ts
  backend/src/auth/dto/login-failed.dto.ts
  backend/src/auth/dto/register-user.dto.ts
  backend/src/auth/guard/basic-token.guard.ts
  backend/src/auth/guard/bearer-token.guard.ts
  backend/src/common/decorator/is-public.decorator.ts
  backend/src/main.ts
  backend/src/users/decorator/user.decorator.ts
  backend/src/users/entity/users.entity.ts
  backend/src/users/users.service.ts
Labels: refactor, login, auth, feature, jwt-token

#9 수정: 인증 가드 로직 개선 및 토큰 재발급 보안 강화
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/entity/refresh-token.entity.ts
  backend/src/auth/guard/bearer-token.guard.ts
  backend/src/common/common.module.ts
  backend/src/logs/dto/login-failed.dto.ts
  backend/src/logs/dto/token-rotation-failed.dto.ts
  backend/src/logs/entity/login-attempt-log.entity.ts
  backend/src/logs/entity/token-event-log.entity.ts
  backend/src/logs/logs.module.ts
  backend/src/logs/logs.service.ts
  backend/src/users/entity/users.entity.ts
  package-lock.json
  package.json
Labels: enhancement, refactor, auth, feature, security, jwt-token, chore

#11 기능. 사용자 프로필 관리 및 계정 잠금 해제 기능 추가
  backend/script/create-dummy-user.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/const/auth-error-code.const.ts
  backend/src/auth/dto/unlock-account.dto.ts
  backend/src/auth/guard/basic-token.guard.ts
  backend/src/auth/guard/bearer-token.guard.ts
  backend/src/users/dto/create-user.dto.ts
  backend/src/users/dto/update-user.dto.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
Labels: enhancement, refactor, auth, feature

#14 기능. 지역 정보 포함한 더미 유저 생성 & Region API 분리 & 상품 조회 시 관계 포함
  backend/script/create-dummy-user.ts
  backend/src/common/common.controller.ts
  backend/src/common/common.service.ts
  backend/src/product/product.service.ts
Labels: product, users

#15 기능. 지역 필터링 & isOwner 플래그 추가
  backend/src/product/dto/get-product.dto.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
Labels: enhancement, auth, security, product

#13 수정. 사용자 업데이트 로직 리팩토링 및 병합 충돌 해결
  backend/package.json
  backend/src/product/dto/update-product.dto.ts
  backend/src/users/dto/create-user.dto.ts
  backend/src/users/dto/update-user.dto.ts
  backend/src/users/users.service.ts
  package-lock.json
Labels: bug, refactor, feature, chore, users

#19 기능. 이미지 업로드 구현
  .gitignore
  ARCHITECTURE.md
  backend/package.json
  backend/script/create-dummy-products.ts
  backend/src/app.module.ts
  backend/src/product/dto/create-product.dto.ts
  backend/src/product/entity/product.entity.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
  backend/src/s3/s3.module.ts
  backend/src/s3/s3.service.ts
  backend/src/uploads/dto/file.dto.ts
  backend/src/uploads/dto/image-commit.dto.ts
  backend/src/uploads/dto/upload-temp-response.dto.ts
  backend/src/uploads/entity/file.entity.ts
  backend/src/uploads/entity/product-image.entity.ts
  backend/src/uploads/guard/file-upload.guard.ts
  backend/src/uploads/pipe/file-validation.pipe.ts
  backend/src/uploads/schedule/cleanup.schedule.ts
  backend/src/uploads/service/image-processing.service.ts
  backend/src/uploads/uploads.controller.ts
  backend/src/uploads/uploads.module.ts
  backend/src/uploads/uploads.service.ts
  package-lock.json
Labels: feature, product, uploads

#21 기능. uploads_temp 고아 파일 자동 삭제 & 이슈 해결
  backend/src/app.module.ts
  backend/src/s3/s3.service.ts
  backend/src/uploads/dto/file.dto.ts
  backend/src/uploads/guard/file-upload.guard.ts
  backend/src/uploads/pipe/file-validation.pipe.ts
  backend/src/uploads/schedule/cleanup.schedule.ts
  backend/src/uploads/service/image-processing.service.ts
  backend/src/uploads/uploads.module.ts
Labels: bug, feature, uploads, aws
